//colors
@fill-general: #ffffff;
@stroke-general: #552222;
@fill-accent: #aabbcc;
@fill-accent-hover: desaturate(@fill-accent, 30%);
@top-border: #222244;

*, .navItem {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: @fill-general;
  color: @stroke-general;
  align-content: stretch;
}

header {
  font-size: 20pt;
  align-content: center;
  text-align: center;
  padding: 20px 0;
}

footer{
  font-size: 16pt;
  align-content: left;
  text-align: left;
  padding: 20px 0 20px 20px;
  border-top: 1px solid @top-border;
  margin: 0 20px;
}

#middle{
  min-height: 400px;
}

.citySelector{
  padding: 10px;
  font-size: 12pt;
}

.rightPane{
  width: 200px;
}

.midPane{
  min-height: 400px;
}

.leftPane{

  width: 200px;
}

.button{
  cursor: pointer;
  padding: 10px;
  background-color: @fill-accent;
  min-width: 150px;
  font-size: 16pt;
  margin: 50px;
  &:hover{
    background-color: @fill-accent-hover;
  }
}

.menu-item{
  .button;
}

.slider-control{
  width: 30px;
  height: 33px;
  margin: 3px;
}

.slider-disabled{
  background-image: url(../img/disabled.png);
}
.slider-enabled{
  background-image: url(../img/enabled.png);
}
.slider-enabled:hover{
  cursor: pointer;
}
.slider{
  height: 200px;
  display: block;
  margin: auto;
}
.month-temp-picker{
  border: 1px solid black;
  padding: 5px;
  float: left;
}
#month-temp-pickers{
  min-height: 200px;
}
.month-name{
  margin: 5px;
}
#find-city{
  .button;
}

.floating{
  float: left;
}