//colors
@stroke-general: #552222;
@fill-control: #aabbcc;
@fill-control-hover: lighten(@fill-control, 10%);
@top-border: #222244;
@fill-general: lighten(@fill-control, 20%);

@img-enabled: "../img/enabled.png";
@img-disabled: "../img/disabled.png";

* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: @fill-general;
  color: @stroke-general;
  align-content: stretch;
}

header {
  font-size: 20pt;
  align-content: center;
  text-align: center;
  padding: 20px 0;
}

footer{
  font-size: 16pt;
  align-content: left;
  text-align: left;
  padding: 20px 0 20px 20px;
  border-top: 1px solid @top-border;
  margin: 0 20px;
}

#middle{
  min-height: 400px;
}

.citySelector{
  padding: 10px;
  font-size: 12pt;
}

.rightPane{
  width: 200px;
}

.midPane{
  min-height: 400px;
}

.leftPane{
  width: 200px;
}
#content{
  //clear: left;
}

.button{
  //cursor: pointer;
  //padding: 10px;
  //background-color: @fill-control;
  //min-width: 150px;
  //font-size: 16pt;
  //&:hover{
  //  background-color: @fill-control-hover;
  //}
}

.menu-item{
  .button;
}